body {
    font-family: 'Roboto', sans-serif;
    margin: 60px auto;
    width: 70%;
    
}

header {
float: right;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    font-family: 'Roboto', sans-serif;
    display: inline;
    margin-right: 20px;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 4em;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}
h2 {
    font-size: 2em;
     line-height: 1em;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    color: #000000;

}
h3 {
    font-size: 1.5em;
     line-height: 1em;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-style: italic;
    color: #000000;

}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

blockquote {
    font-size: 1.2em;
    line-height: 1.4em;
        font-weight: 600;
    color: #cb5323;
    background: border-box #fcd93a;
     padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
     float: right;
  clear: left;
}

ol li {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;  
}

ul.posts { 
    font-family: 'Libre Baskerville', serif;
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    font-family: 'Libre Baskerville', serif;
    list-style: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img {
  max-width: 40%;
  height: auto;
  float: right;
  clear: left;
}

hr{
clear: both;    
}

.aside {
  color: #9999;
}

button {
  border-radius: 4px;
  background-color: #f05323;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 16px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 22px;
}

button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -10px;
  transition: 0.5s;
}

button:hover{
  padding-right: 24px;
  padding-left:8px;
    background-color: #cb5323;
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

button:hover:after {
  opacity: 1;
  right: 10px;
}
iframe
{
width: 70%;
height: 850px;
}

/* The side navigation menu */
.sidebar {
 margin: 0;
 padding: 0;
 width: 200px;
 background-color: #e9ad02;
 position: fixed;
 height: 100%;
 overflow: auto;
font-size: 20px;
font-family: 'VT323', monospace;}
/* Sidebar links */
.sidebar a {
 display: block;
 color: #320032;
text-transform: uppercase;
 padding: 16px;
 text-decoration: none;
border-top: 5px solid white;
line-height: 1em;
    float: left;
    

}

/* Active/current link */
.sidebar a.active {
 background-color: #04AA6D;
 color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
 background-color: #320032;
 color: white;

}
