<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.3.1/default/snipcart.css" />
			<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
			<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">

		</head>
		<body>
			<header class="header">
			<button class="snipcart-checkout">Cart: <span class="snipcart-items-count"></span>
			<span class="snipcart-total-price">$0.00</span></button>
			</header>
				
			<nav>
	    		<ul>
	        		<li><a href="/">PoM</a></li>
					<li><a href="/makeapilgrim.html">Make A Pilgrim</a></li>
					<li><a href="/ghoststar.html">ItLoaGS</a></li>
		        	<li><a href="https://natetreme.com">HPS</a></li>
	        		<li><a href="/blog">Updates</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:nathantreme@gmail.com">Email</a></li>
	        		<li><a href="https://natetreme.itch.io/">Itch</a></li>
				<li><a href="https://Twitter.com/natetreme">Twitter</a></li>
				<li><a class="btn btn-rss" href="/feed.xml" target="_blank">RSS</a></li>
				</ul>
			</footer>
			<script async src="https://cdn.snipcart.com/themes/v3.3.1/default/snipcart.js"></script>
<div hidden id="snipcart" data-api-key="NjIxODdmMmUtNDdiYi00YjU2LWJiMDQtMzI3MGQzNzE3MzFkNjM3NjcwNjExNjM3Nzc4ODMx"></div>
		</body>
	</html>
