<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
			<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
			
			<link rel="preconnect" href="https://app.snipcart.com" />
			<link rel="preconnect" href="https://cdn.snipcart.com" />
			
			<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.3.1/default/snipcart.css" />


		</head>
		

		
		<body>
			<header class="header">
			<button class="snipcart-checkout">Cart: <span class="snipcart-items-count"></span>
			<span class="snipcart-total-price">$0.00</span></button>
			</header>
				
			<nav>
	    		<ul>
	        		<li><a href="/">About</a></li>
				<li><a href="/preorder.html">Preorders</a></li>
				<li><a href="/store.html">Shop</a></li>
	        		<li><a href="https://www.dungeonresearch.com">Blog</a></li>
				<li><a href="https://www.getrevue.co/profile/HPS">Newsletter</a></li>
	    		</ul>
			</nav>
			
					<!-- The sidebar -->
<div class="sidebar">
	<h4>PRODUCTS</h4>
  <a href="#dogtooth">Dogtooth Valley</a>
  <a href="#kozmik">Kozmik Objects & Entities</a>
  <a href="#prole">Prole</a>
</div>
			
			<div class="container">
			
			{{ content }}
			
				
			</div><!-- /.container -->
			
			
			<script async src="https://cdn.snipcart.com/themes/v3.3.1/default/snipcart.js"></script>
<div hidden id="snipcart" data-api-key="NWNiN2Y3ZGQtNWQ1ZS00N2NiLTljMTUtZWYyNjFmOTAyZDllNjM3NjcwNjExNjM3Nzc4ODMx"></div>
		</body>
	
			
			
	</html>
